
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Arjun M</h3>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100055851312358" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/arju_n.m/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/arjun-m-10b01b253/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span></span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://my-web-site-weld.vercel.app/">ANUGRAH S</a>
      </div>
    </div>
  </footer><!-- End Footer -->